# For local npm install, GL_REPO_TOKEN variable value is exported in .zprofile 
# For github action, GL_REPO_TOKEN is created as a repository secret
//npm.pkg.github.com/:_authToken=${GL_REPO_TOKEN}
//npm.pkg.github.com/:username=shd-nas-hotmail
@backup-core:registry=https://npm.pkg.github.com